.title {
      position: absolute;
      top: 5%;
      width: 90%;
      text-align: center;
      font-family: Verdana;
      font-size: 40px;
      color: white;
      text-shadow: 3px 3px 3px black;
      background-color: #FC22FC;
      padding-top: 5px;
      padding-bottom: 10px;
      border-style: double;
      border-width: 3px;
      border-color: #101010;
    }
    ul {
        list-style-type: none;
        position: absolute;
        top: 20px;
        width: 50%;
        left: 50%;
        background-color: #1F1F1F;
        border-style: double;
        border-width: 2px;
        text-align: center;
        font-family: Verdana;
        font-size:15px;
        color: grey;
        text-shadow: 3px 3px 3px black;
    }

    li {
      background: url('../assets/wrench.png') no-repeat left 5px;
      left-padding: 1em;
      top-padding:5px;
    	height: 40px
    }
    .tweakbox {
    	position: absolute;
        top: 15%;
        width: 60%;
    }
    body {
      background-color: #1F1F1F;
    }
